@{
    ViewData["Title"] = "Home Page";
}
<head>
    <style>
        body {background-color:aqua;}
        h1 {color:blue;}
    </style>
</head>
<div class="text-center">
    <h1 class="display-4">Welcome To My Page</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
